@import "./utilities/variables.scss";
.clockContainer{
    grid-area: clock;
    width: $start-button-clock-width;
    justify-self: end;
    border: 0.5px inset $taskbar-border-color;
    margin-right: 5px;
    height: 80%;
    text-align: center;
}