.desktopContainer {
    width: 98vw;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .desktop {
        background-color: #37b8b8;
        width: 60vw;
        height: 80vh;
        position: relative;
        flex-wrap: wrap;
        
        display: flex;
        gap: 20px;
        overflow: hidden;


    }
}