@import "./utilities/variables.scss";

.processWindow {
    height: 30%;
    width: 30%;
    background-color: $taskbar-color;
    position: absolute;
    top: 40%;
    left: 40%;
    display: grid;
    grid-template-rows: [title-bar] 30px [app] 1fr;
    overflow:hidden;
    resize: both;
    z-index: 9;
    &.focused{
        z-index: 10;
    }
    &.collapsed{
        visibility: hidden;
    }

    .upperBar {
        display: flex;
        align-items: center;
        background-color: blue;
        width: 100%;
        justify-content: space-between;
        height: 30px;
        cursor: grab;

        .buttonsContainer {
            flex: 1;
            margin-right: 7px;
            display: flex;
            justify-content: flex-end;
            gap: 2px;
            align-items: center;

            button {
                height: 20px;
                width: 20px;
                text-align: center;
                padding: 0px;
            }

            .exitButton {
                order: 3;
                color: black;
                font-weight: 900;
                font-size: larger;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .maximizeButton {
                order: 2;
                display: flex;
                align-items: center;
                justify-content: center;

                .square {
                    height: 8px;
                    width: 8px;
                    border: 2px solid black;
                    border-top: 3px solid black;
                }
                .doubleSquareLower{
                    height: 6px;
                    width: 6px;
                    border: 2px solid black;
                    border-top: 3px solid black;
                    position: relative;
                    left: 3px;
                    bottom: -1px;
                }
                .doubleSquareUpper{
                    height: 6px;
                    width: 7px;
                    border-right: 2px solid black;
                    border-top: 2px solid black;
                    
                    
                    position: relative;
                    left: 0px;
                    bottom: 4px;
                }
            }

            .collapseButton {
                order: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                .collapseLine{
                    border-top: 3px solid black;
                    width: 80%;
                }
            }
        }

        .title {
            flex: 4;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            span {
                text-align: center;
                padding-left: 2ch;
                color: white;
                -webkit-user-select: none;
                /* Safari */
                -moz-user-select: none;
                /* Firefox */
                -ms-user-select: none;
                /* IE10+/Edge */
                user-select: none;
                /* Standard */

            }

        }



    }

    .runningApp{
        margin: 7px;
        resize: none;
    }
}