@import "./utilities/variables.scss";

.startButton {
    grid-area: start-button;
    background-color: $taskbar-color;
    width: $start-button-clock-width;
    height: 80%;
    border: 2px outset $taskbar-border-color;
    margin-left: 5px;
    text-align: center;
    cursor: pointer;

    &:active,
    &.active {
        background-color: dimgrey;
        border-style: inset;
    }

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */


}