@import "./utilities/variables.scss";

.taskBar {
    height: $taskbar-height;
    width: 99.8%;
    background-color: $taskbar-color;
    position: absolute;
    bottom: 0px;
    border-color: black;
    border-width: 1px;
    border-style: ridge;
    display: grid;
    grid-template-columns: calc($start-button-clock-width + 9px) calc(99.9% - calc(2 * $start-button-clock-width + 18px)) calc($start-button-clock-width + 9px);
    grid-template-rows: auto;
    grid-template-areas: "start-button collapsed-apps clock";
    align-items: center;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    .appBarStorage{
        display: flex;
        align-items: center;
        border-left: 1px double $taskbar-border-color;
        border-right: 1px double $taskbar-border-color;
        height: 90%;
        gap: 2px;
        padding-left: 1ch;
        padding-right: 1ch;
    }
}